<div class="contianer">
<div class="wrapper style1">

<header class="major">
	<h1><%= @slide.title %></h1>
</header>

<div class="panel">
	<div class="panel-body">
		<h5>推薦者</h5>
			<p><%= @slide.recommend_user %></p>
		<h5>推薦コメント</h5>
			<p><%= @slide.recommend_comment %></p>
	</div>
</div>

<div align="center">
	<%= @slide.embed.html_safe %>
</div>
<br>
<br>
<%= link_to '戻る', slides_path %>
<br>
<br>
<%= link_to 'このスライドを削除する', @slide, method: :delete, data: { confirm: '削除してよろしいですか？' } %>
</div>
</div>