<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <label>パスワード</label>
    <%= f.password_field :password, autocomplete: "on" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %> ログイン状態を保持する
    </div>
  <% end -%>

  <div class="actions">
    <button type="submit" class="btn btn-primary">ログインする</button>
  </div>
<% end %>

<br>
<%= render "users/shared/links" %>
※パスワードをお忘れの場合、新規アカウントをを再作成してください。
