<button class="btn-primary" onClick="location.href='/articles/new'">新しい記事を追加する</button>
<br>
<br>

<% if !@articles.empty? %>

<% @articles.each do |article| %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h6>投稿日時：<%= (article.created_at).strftime("%Y/%m/%d %H:%M") %></h6>
    <h6>投稿者：<%= article.user.email %></h6>
  </div>
  <div class="panel-body">
    <a href=<%= article.url %>><h4><%= article.title %></h4></a>
    <% if article.url_thumbnail %>
      <a href=<%= article.url %>><img src=<%= article.url_thumbnail %> alt=<%= article.url_title %> width="100"></a>
    <% end %>
    <h5><%= article.url_title %></h5>
    <h6><%= article.url_description %>…</h6>
      <div align="right">
      <% if article.user_id.to_i == current_user.id.to_i %>
        <%= link_to '編集', edit_article_path(article) %>
        <%= link_to '削除', article, method: :delete, data: { confirm: '削除してよろしいですか？' } %></>
        <button type="button" class="btn btn-primary btn-xs">いいね！</button> 2人
      <% end %>
      </div>
  </div>
</div>

<% end %>

<script type="text/javascript">
$.ajax({
  type: "POST",
  url: "/feelings",
  dataType: "json",
  data : {target : "article", target_id : "1", feeling : "good"},

  }).done(function(data, status, xhr) {
    var dataArray = data;
    $.each(dataArray, function(i){

    });
});
</script>

<% end %>

