<button class="btn btn-info btn-block  active" onClick="location.href='/articles/new'">新しい記事を追加する</button>

<h4>おすすめの記事</h4>
<a class="btn btn-primary btn-block active" href="/articles?utf8=%E2%9C%93&q%5Buser_email_cont%5D=tsutax%40icloud.com">ツクヲススメ</a>
<a class="btn btn-primary btn-block active" href="/articles?q%5Bs%5D=feelings_count+desc">ぱねぇ！が多い</a>
<a class="btn btn-primary btn-block active" href="/articles">新着順（デフォルト）</a>
<br>
<%= paginate @articles %>
<% if !@articles.empty? %>

<% @articles.each do |article| %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h6>投稿日時：<%= (article.created_at).strftime("%Y/%m/%d %H:%M") %></h6>
    <h6>投稿者：<%= article.user.email %></h6>
  </div>
  <div class="panel-body">
    <a href=<%= article.url %>><h4><%= article.title %></h4></a>
    <% if article.url_thumbnail %>
      <a href=<%= article.url %>><img src=<%= article.url_thumbnail %> alt=<%= article.url_title %> width="100"></a>
    <% end %>
    <h5><%= article.url_title %></h5>
    <h6><%= article.url_description %>…</h6>
      <div align="right">
        <% if article.user_id.to_i == current_user.id.to_i %>
          <%= link_to '記事を削除', article, method: :delete, data: { confirm: '削除してよろしいですか？' } %>　
        <% end %>
        <button type="button" class="btn btn-primary btn-xs" id="<%= article.id %>" onclick="good(<%= article.id %>)">ぱねぇ！</button> 
        <span id="num<%= article.id %>"><%= article.feelings_count %></span>人
      </div>
  </div>
</div>

<% end %>

<%= paginate @articles %>

<script type="text/javascript">
function good(id){

  var str = "#"+id
  $(str).prop("disabled", true)

  countUp(id)

  $.ajax({
    type: "POST",
    url: "/feelings",
    dataType: "json",
    data : {article_id : id},
    }).done(function(data, status, xhr) {
  });
}
function countUp(id){
  var str = "#num"+id;
  var val = parseInt($(str).text());
  $(str).replaceWith(String(val+1));
}
</script>
<% end %>

