<button class="btn btn-info btn-block  active" onClick="location.href='/articles/new'">新しい記事を追加する</button>

<%= paginate @articles %>

<% if !@articles.empty? %>

<table class="table table-bordered table-striped">
  <tbody>
<% @articles.each do |article| %>
    <tr>
      <td>
        <a href="/articles/<%= article.id %>"  onclick="ga('send', 'event', 'Article', 'click_img', '<%= article.url %>');" target=”_blank”><img src=<%= article.url_thumbnail %> alt="<%= article.url_title %>" width="60" align="right"></a>

        <div align="left">
          <% if !article.category.nil? %>
            <span class="label label-primary"><%= article.category.name %></span>
          <% end %>
          <span class="badge"><%= article.article_views_count %> views</span>
          <span class="badge"><span id="num<%= article.id %>"><%= article.feelings_count %></span> <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
        </div>

        <% if article.user.avatar_file_name.nil? %>
          <img src="/assets/default" alt="<%= article.user.user_name %> height="30" align="left">
        <% else %>
          <img src=<%= article.user.avatar.url(:thumb) %> alt="<%= article.user.user_name %>"" height="30" align="left">
        <% end %>

        <h4><a href="/articles/<%= article.id %>"  onclick="ga('send', 'event', 'Article', 'click_title', '<%= article.url %>');" target=”_blank”><%= article.title %></a></h4>

        <br>
        <h5><a href="/articles/<%= article.id %>"  onclick="ga('send', 'event', 'Article', 'click_url_title', '<%= article.url %>');" target=”_blank”><%= article.url_title %></a></h5>
        <h6><%= truncate(article.url_description, length:200) %></h6>

        <div align="right">
        <button type="button" class="btn btn-warning btn-xs" id="<%= article.id %>" onclick="good(<%= article.id %>)">ぱねぇ！</button>
        <h6>
          <% if article.user_id.to_i == current_user.id.to_i %>
            <%= link_to '記事を削除', article, method: :delete, data: { confirm: '削除してよろしいですか？' } %>
          <% end %>
            投稿者：<%= article.user.user_name %>
            投稿日時：<%= (article.created_at).strftime("%m/%d %H:%M") %>
        </h6>
        </div>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= paginate @articles %>

<script type="text/javascript">
function good(id){
  var str = "#"+id
  countUp(id)

  $.ajax({
    type: "POST",
    url: "/feelings",
    dataType: "json",
    data : {article_id : id},
    }).done(function(data, status, xhr) {
  });
}
function countUp(id){
  var str = "#num"+id;
  var val = parseInt($(str).text());
  $(str).text(String(val+1));
}
</script>

<% end %>