<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
JaQの皆様<br>
<br>
JaQNewsに新しい記事がUPされています。<br>
今週の人気記事をお知らせします。<br>
<br>
-------<br>
<% @articles.each do |article| %>
<%= article.title %>（<%= article.user.user_name %>）：<%= article.article_views_count %>人が閲覧<br>
<a href="http://localhost:3000/articles/<%= article.id %>"><%= article.url_title %></a><br>
<br>
<% end %>
-------<br>
JaQNewsへ記事の投稿もお待ちしています。<br>
http://minilib.herokuapp.com/articles
</body>
</html>