<button class="btn btn-info btn-block active" onClick="location.href='/books/new'">新しい図書を登録する</button>
<br>
<%= search_form_for @q do |f| %>
<div class="input-group">
  <%= f.search_field :title_or_author_or_publisher_or_owner_cont, placeholder: '図書名、所有者で探す', class:'form-control' %>
  <span class="input-group-btn">
    <button class="btn btn-primary" type="submit">検索</button>
  </span>
</div>
<% end %>
<h4>おすすめ図書</h4>
<button class="btn btn-primary btn-block active" onClick="location.href='/books?utf8=%E2%9C%93&q%5Btitle_or_author_or_publisher_or_owner_cont%5D=tsutax%40icloud.com'">ツクヲススメ</button>
<button class="btn btn-primary btn-block active" onClick="location.href='/books?q%5Bs%5D=comments_count+desc'">コメントが多い</button>
<br>
<%= paginate @books %>
<% @books.each do |book| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <% if !book.rent_user_id? %>
      <span class="label label-info">貸出可能</span>
    <% else %>
      <span class="label label-warning">貸出中</span>
    <% end %>
      <h6>所有者：<%= book.user.user_name %>　場所：<%= book.user.place %></h6>
  </div>
  <div class="panel-body">
    <h4><%= link_to book.title, book %></h4>
    <% if book.image_url %>
      <a href=""><img src=<%= book.image_url %> alt=<%= book.title %> width="100"></a>
    <% end %>

    <h5>コメント：<%= book.comments.count %>件</h5>
  </div>
</div>

<% end %>
<%= paginate @books %>