<%= search_form_for @q do |f| %>
図書検索 <%= f.search_field :title_or_author_or_publisher_or_owner_cont, placeholder: '検索' %>
<%= f.submit %>
<% end %>
並べ替え | <%= sort_link(@q, :id,'ID順') %> | <%= sort_link(@q, :comments_count,'コメント数順') %> |

<% @books.each do |book| %>
<div class="panel panel-default">
  <div class="panel-heading">
  <h4><%= link_to book.title, book %></h4>
  </div>
  <div class="panel-body">
    <% if book.user.syoko %>
      <h6>貸出可能(<%=book.user.place %>)</h6>
    <% else %>
      <h6>返却期限：<%= (book.updated_at + 7.days).strftime("%Y-%m-%d") %></h6>
      <h6>利用者：<%= book.user.email %></h6>
    <% end %>
    <h5>コメント：<%= book.comments.count %>件</h5>
    <% if book.comments.count > 0 %>
      <div class="panel-footer">
      <h6><%= book.comments[book.comments.count - 1].comment %></h6>
      </div>
    <% end %>
  </div>
</div>

<% end %>
<%= paginate @books %>