<button class="btn btn-info btn-block active" onClick="location.href='/books/new'">新しい図書を登録する</button>
<br>
<%= search_form_for @q do |f| %>
<div class="input-group">
  <%= f.search_field :title_or_author_or_publisher_or_owner_cont, placeholder: '図書名、所有者で探す', class:'form-control' %>
  <span class="input-group-btn">
    <button class="btn btn-primary" type="submit">検索</button>
  </span>
</div>
<% end %>
<h4>おすすめ図書</h4>
<button class="btn btn-primary btn-block active" onClick="location.href='/books?utf8=%E2%9C%93&q%5Btitle_or_author_or_publisher_or_owner_cont%5D=tsutax%40icloud.com'">ツクヲススメ</button>
<button class="btn btn-primary btn-block active" onClick="location.href='/books?q%5Bs%5D=comments_count+desc'">コメントが多い</button>
<br>
<%= paginate @books %>
<table class="table table-bordered table-striped">
  <tbody>
<% @books.each do |book| %>
    <tr>
      <td>
      <% if book.image_url %>
        <a href="/books/<%= book.id %>"><img src=<%= book.image_url %> alt=<%= book.title %> width="70"></a>
      <% else %>
        <a href="/books/<%= book.id %>"><img src="/assets/no_image" alt="No Image" width="70"></a>
      <% end %>
      </td>
      <td>
        <h4><%= link_to book.title, book %></h4>
        <% if book.rent_user_id? %>
          <h5>貸出中</h5>
        <% end %>
        <h6><%= book.author %>　<%= book.publisher %></h6>
        <div align="right">
          <button class="btn btn-primary" onClick="location.href='/books/<%= book.id %>'">詳細を見る</button>
          <h6>コメント：<%= book.comments.count %>件</h6>
        </div>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= paginate @books %>