<header class="major">
  <h1><%= @book.title %></h1>
</header>

<div class="panel">
  <div class="panel-body">

    <h5>著者名</h5>
    <p><%= @book.author %></p>
    <h5>出版社</h5>
    <p><%= @book.publisher %></p>
    <h5>所有者</h5>
    <p><%= @book.owner %></p>

    <% if @book.user.syoko %>
      <h5>貸出日</h5>
      <p>貸出可能(<%= @book.user.place %>)</p>
      <h5>返却期限</h5>
      <p>-</p>
      <h5>利用者</h5>
      <p>-</p>
    <% else %>
      <h5>貸出日</h5>
      <p><%= (@book.updated_at).strftime("%Y-%m-%d") %></p>
      <h5>返却期限</h5>
      <p><%= (@book.updated_at + 7.days).strftime("%Y-%m-%d") %></p>
      <h5>利用者</h5>
      <p><%= @book.user.email %></p>
    <% end %>

  </div>
</div>


<% if @book.user.syoko %>
  <%= button_to '借ります！', rent_book_path(@book),
  :method => :patch, data: { confirm: '貸出処理を行いますか？' }, :class => 'btn btn-primary' %><br>
<% elsif @book.user_id == current_user.id %>
  <%= button_to '返します！', edit_book_path(@book), :method => :get, :class => 'btn btn-primary' %><br>
<% end %>

<%= button_to 'コメントする', new_book_comment_path(@book), :method => :get, :class => 'btn btn-primary' %><br>

<% if @comments.length != 0 %>
  <% @comments.each do |c| %>

  <div class="panel panel-default">
    <div class="panel-body">
      <h6>投稿日時：<%= (c.created_at).strftime("%Y-%m-%d %H:%M") %></h6>
      <h6>投稿者：<%= c.user.email %></h6>
      <div class="well well-sm"><h6><%= c.comment %></h6></div>
    </div>
  </div>
  <% end %>
<% end %>
<%#= button_to "削除", { :action => "rent", :id => @book.id }, :confirm => "本当に削除しますか?" %>
<%#if current_user.id == @book.user_id %>
  <%#= link_to 'Destroy', @book, method: :delete,  %>
<%# end %>
