<!DOCTYPE html>
<html>
<head>
  <title>JaQLIB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'main.css', media: 'all' %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" >
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>

</head>
<body>
<div id="page-wrapper">


  <!-- Header -->
    <header id="header">
      <h1 id="logo">JaQ LIB</h1>
      <nav id="nav">
        <ul>
          <li><%= link_to 'Top', root_path %></li>
          <li>
            <a href="#">MENU</a>
            <ul>
              <li><%= link_to '図書一覧', books_path %></li>
              <li><%= link_to '記事一覧', articles_path %></li>
              <li><%= link_to 'スライド一覧', slides_path %></li>
            </ul>

            <% if user_admin? %>
              <li>
                <a>Admin</a>
                <ul>
                  <li><%= link_to '図書登録', new_book_path %></li>
                  <li><%= link_to '貸出履歴', rent_history_path %></li>
                </ul>
              </li>
            <% end %>
          </li>
          <% if user_signed_in? %>
            <li><%= link_to 'アカウント設定', edit_user_registration_path %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to '新規アカウント登録', new_user_registration_path %></li>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>


  <div class="container">
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <div class="wrapper style1">
    <%= yield %>
    <div align="right">
      <div class="p7-b" data-p7id="ea3675383ab341049f51e31c4a131431" data-p7c="r"></div>
      <script src="https://dev01jaqlib.app.push7.jp/static/button/p7.js" charset="UTF-8"></script>
    </div>
    </div>

    
  </div>

</div>
</body>
</html>
